RenPy General Folder/Time Travel Game V01/.DS_Store
RenPy General Folder/.DS_Store
.DS_Store
*.rpyb
*.rpyb
*.save
log.txt
traceback.txt
*.rpyc
*.rpyc
errors.txt
game/saves/navigation.json
game/chapter-1.rpyc
game/chapter-2.rpyc
game/chapter-3.rpyc
game/chapter-4.rpyc
game/chapter-5.rpyc
game/saves/navigation.json
game/saves/persistent
game/chapter-5.rpyc
game/saves/persistent
